section {
  float: left;
  margin: 0 1.5%;
  width: 63%;
}
aside {
  float: right;
  margin: 0 1.5%;
  width: 30%;
}

tr.border_bottom td {
  border-bottom:1pt dashed black;
}

footer {
  background-color: #5B6569
}
footer table {
  width: 100%;
}

footer  span{
    display:block;
}
footer table th {
  text-align: left;
  color: #FFFFFF
}
figcaption {
  text-align: center;
}
div.caption{
  display: inline-block;
}

figure{
  float: left;
}

ul
{
  list-style-type: none;
}
aside li {
  border-bottom:1pt dashed black;
}

footer div {
  display: inline-block;
}
footer ul {
  float: left;
}
